/* 
Tough Skin

font-family: 'Open Sans', sans-serif;

Color
CSS HEX 

--prussian-blue: #002c3dff;
--blue-sapphire: #006177ff;
--sea green: #138F63
--marigold: #eaa221;
--dark orange: #FF8C00;

*/
body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.container {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "header header"
    "intro intro"
    "gallery gallery"
    "footer footer";
}
.gallery {
  grid-area: gallery;
}
.title {
  font-style: italic;
}
.image {
  margin-top: 5em;
}
.intro-text {
  text-align: justify;
}
h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 5px;
}
h4 {
  font-size: 18px;
  margin: 0;
}
h3 {
  margin: 4px;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: black;
  position: relative;
  transition: all 0.3s ease-out;
  outline: 0;
}
ul {
  display: flex;
  list-style: none;
  font-size: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: space-evenly;
  padding-left: 0;
}
li {
  overflow: hidden;
}

/*HEADER*/
header {
  grid-area: header;
  font-size: 20px;
  line-height: 23px;
}
h1 {
  margin: 5px;
  font-weight: 700;
  letter-spacing: 8px;
}
.main {
  color: #ff8c00;
  font-size: 40px;
  text-align: left;
  margin: 0;
}
.link {
  color: #138f63;
}
.menu {
  margin: 10px;
  padding-top: 1em;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: rgb(19, 143, 99, 25%);
  border-radius: 5px;
}
.dropdown-content a:hover {
  background-color: rgb(19, 143, 99);
  color: #ff8c00;
  border-radius: 5px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/*INTRO*/
.intro {
  grid-area: intro;
  text-align: left;
  padding: 10px;
  margin: 4em 10em 0 10em;
}

/*CLICKS*/
a:hover {
  color: #ff8c00;
  transition: all 0.3s ease-out;
}
a:hover:after {
  transition: all 0.3s ease-out;
  transform: translateX(0%);
}
menu li a:after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: rgb(1, 66, 43);
  transform: translateX(-100%);
  transition: all 0.3s ease-out;
}

/*FOOTER*/
.footer {
  grid-area: footer;
  display: inline-flex;
  margin: 0;
  padding: 0.5em 0 11em 0;
  background-color: #05241a;
  text-align: left;
  background-image: url("/images/footer-flowers-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
   width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.footer-menu {
  display: block;
  justify-content: space-evenly;
}
.fm {
  color: white;
  padding: 0 1em 0 1em;
}
.fa-instagram {
  background-color: #138f63;
  margin: 5px;
}
.fa-linkedin {
  background-color: #eaa221;
  margin: 5px;
}
.fa,
.fab {
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .container {
    grid-template-areas:
      "header"
      "intro"
      "gallery"
      "footer";
  }
  h1 {
    letter-spacing: 2px;
  }
  .main {
    text-align: center;
  }
  .image {
    width: 300px;
    height: auto;
  }
  .intro {
    width: 300px;
    margin: 0;
    justify-self: center;
  }
}
